body {backgroud-color: #fa3ec2; text-align: justify; font-size:18px;}
h1 {text-align: center;background-color:#d85998; color:#4f67d3;}
h3 {text-align: justify; color: #76e6e4;}
b{color: rgb(155, 155, 209); font-size:18px;}
i {color: rgb(91, 91, 138); font-size:18px;}
header, footer{background-color: #29b8ec; color: #b1d15ba8; text-align: center; font-size: 20px; border: rgb(238, 165, 82) solid 2px;}
main {backgroud-color: #0f89b6;}
nav li {text-transform: uppercase;list-style: none; display: inline; margin-left: 10px; text-align: right;}
nav a {color: rgb(161, 110, 228); text-decoration: none; text-align: right;}
.PRIMEIROPARAGRAFO {text-align: justify; font-size: 18px; border: rgb(223, 49, 49) solid 2px; padding: 10px; margin: 10px;}
#TITULOIMAGEM {width: 5% ; height: 5%;}
#lista01 {display:block; text-align: center;}
#lista02 {display: inline-block;}
